<h2>Free items:</h2>
<app-item-search></app-item-search>
<section>
  <mat-form-field appearance="outline">
    <mat-label>Order by:</mat-label>
    <mat-select [formControl]="selectedOrder" (selectionChange)="dropDownChanged($event)">
      <mat-option *ngFor="let order of orders" [value]="order" >
        {{ order }} 
      </mat-option>
    </mat-select>
  </mat-form-field>
</section>
<ul class="items">
    <li *ngFor= "let item of items"
        [class.selected]="item === selectedItem"
        (click)="onSelect(item)">
            <span class="badge">{{item.id}}</span> <span id="itemName"> {{item.name}}</span>
            <button *ngIf="isAdmin == true" class="delete" title="delete hero" (click)="delete(item);" mat-mini-fab color="primary">
              <mat-icon>delete</mat-icon>
            </button>
    </li>
</ul>

    <a *ngIf="isAdmin == true" mat-raised-button color="primary" [routerLink]="['/item-form']">Create item</a>


<app-item-detail [item]="selectedItem"></app-item-detail>